In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
%matplotlib inline

In [2]:
from plotly import __version__
print(__version__)

4.0.0

In [3]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [22]:
import cufflinks as cf

ModuleNotFoundError: No module named 'cufflinks'

In [ ]:
init_notebook_mode(connected=True)

In [ ]:
cd.go_offline()

# Fake Data

In [6]:
df=pd.DataFrame(np.random.randn(100,4),columns='A B C D'.split())

In [7]:
df.head()

          A         B         C         D
0  1.875168 -0.575901 -0.607479  0.054144
1 -0.828429  0.282465  0.187554  0.707972
2 -1.455129  1.515648 -0.779213  1.334444
3  1.839845 -0.266016 -1.678179  1.266209
4 -0.558140  0.564888  1.391578 -1.124515

In [10]:
df2=pd.DataFrame({'category':['A','B','C'], 'values':[32,43,50]})

In [11]:
df2

  category  values
0        A      32
1        B      43
2        C      50

# Using Cufflinks and iplot()

scatter
bar
box
spread
ratio
heatmap
surface
histogram
bubble

### scatter

In [ ]:
df.iplot(kind='scatter',x='A',y='B',mode='markers')

In [ ]:
df2.iplot(kind='bar',x='category',y='values')

In [ ]:
df.count().iplot(kind='bar')

### boxplot

In [ ]:
df.iplot(kind='box')

### 3d Surface

In [19]:
df3=pd.DataFrame({'x':[1,2,3,4,5],'y':[10,20,30,20,10],'z':[5,4,3,2,1]})

df.iplot(kind='surface',colorscale='rdylbu')

### spread

In [ ]:
df[['A','B']].iplot(kind='spread')

### histogram

In [ ]:
df['A'].iplot(kind='hist',bins=25)

### Bubble

In [ ]:
df.iplot(kind='bubble',x='A',y='B',size='C',colorscale='PiYG')

In [ ]:
scatter_

In [ ]:
df.scatter_matrix()